[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Matab97
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Matab97
	label-Verified = -1..+1 group user/Matab97
	push = group user/Matab97
	read = group user/Matab97
	rebase = group user/Matab97
	removeReviewer = group user/Matab97
	submit = group user/Matab97
[access "refs/heads/*"]
	create = group user/Matab97
	push = +force group user/Matab97
	pushMerge = group user/Matab97
	read = group user/Matab97
[access "refs/tags/*"]
	push = group user/Matab97
	push = +force group user/Matab97
